/* Generics */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
    overflow-y: hidden;
}

/* Utils */

.red-bg{
    background-color: red;
}

.green-bg{
    background-color: #008000;
}

.yellow-bg{
    background-color: yellow;
}

/* Nav-bar */

.main-nav{
    position: fixed;
    z-index: 1;
    right: 20px;
    bottom: 40%;
    transform: translateX(-40%);
}

li{
    list-style-type: none;
    margin: 40px 0;
}

li:hover{
    transform: scale(1.2)
}

li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    border-radius: 50%;
    background-color: #fff;
    padding: 15px 20px;
    text-shadow: 4px 4px 4px rgba(10, 3, 1, 0.6);
}

/* Products */

.main-bg{
    height: 100vh;
    position: relative;
}

.center-product{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-bg h1{
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    max-width: 35%;
    text-align: center;
    color: yellow;
    font-size: 45px;
}

#shoes-3 h1{
    color: #008000;
}